* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-transform: uppercase; */
}

body {
  background-color: #f8f8f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
.navbar {
  text-transform: uppercase;
  box-shadow: 0 0.5rem 0.375rem -0.375rem gray;
  --webkit-box-shadow: 0 0.5rem 0.375rem -0.375rem gray;
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background-color: #1d1c1c;
}

.navbar-brand {
  letter-spacing: 0.3125rem;
}

.navbar-brand h2 {
  letter-spacing: 2rem;
  margin-right: 0rem;
  font-weight: bold;
}

.navbar:hover .navbar-brand {
  color: white;
}



/* Footer */
.footer {
  background-color: black;
  color: #1d1c1c;
  padding: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer p {
  margin-bottom: 0;
}

.footer-link {
  color: #1d1c1c;
  text-decoration: none;
  margin: 0 0.625rem;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 0.3s ease;
  letter-spacing: 0.125rem;
}

.footer-link:hover {
  color: #3a3a3a;
}
@media only screen and (max-width: 390px) {
  .footer {
    padding: 0.625rem;
  }
  
  .footer p {
    margin-bottom: 0;
    font-size: 0.875rem;
  }
  
  .footer-link {
    font-size: 0.875rem;
    margin: 0 0.3125rem;
  }
}

/* Page Not Found */

.pnf {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 6.25rem;
  font-weight: 600;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 0.0625rem solid black;
  text-decoration: none;
  padding: 0.625rem;
  margin-top: 0.625rem;
}

/* Landing page */

.landing-pic-container {
  flex: 1;
}

.landing-pic-text {
  color: black;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 550%) scale(1.5);
  font-size: 3rem;
  font-weight: lighter;
  text-decoration: none;
  z-index: 1;
  background-color: hsla(0, 0%, 100%, 0.555);
}

/* .landing-pic-text:hover {
  text-decoration: underline;
} */

.landing-pic-container img {
  margin-top: 0;
  width: 100%;
  height: 95vh;
  object-fit: cover;
}

.dual-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Display images vertically */
}

.left-image,
.right-image {
  width: 50rem;
  height: 30rem;
  object-fit: contain;
  border: 0.0625rem solid black;
  margin: 3rem;
}

@media (max-width: 428px) { 
  .landing-pic-text {
    top: 35%; 
    font-size: 2.5rem; 
  }
  
  .landing-pic-container img {
    height: 75vh; /* Adjust height */
  }
  
  .left-image,
  .right-image {
    width: 90%; /* Adjust width */
    height: auto; /* Adjust height */
    margin: 1.5rem; /* Adjust margin */
  }
  
  .dual-image-container {
    flex-direction: column; /* Display images horizontally */
  }
}
/* Update Page */
.update-form{
  display: flex;
  flex-direction: column;
  width: 50%; /* 30rem in rem */
  margin-left: 6%;
  
  
}
/* Register Page */

.regis-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem; /* 30rem in rem */
  margin: auto;
  height: 95vh;
}

.form-control {
  width: 100%;
  margin-bottom: 1.25rem; /* 20px in rem */
  padding: 0.625rem; /* 10px in rem */
  font-size: 1rem; /* 16px in rem */
  border: none;
  background-color: #f5f5f5;
}

.regisbtn {
  width: 100%;
  margin-top: 1.875rem; /* 30px in rem */
  padding: 0.625rem; /* 10px in rem */
  font-size: 1rem; /* 16px in rem */
  border: none;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 0.0625rem solid #333333;
}

.regisbtn:hover {
  background-color: #333333;
  color: white;
}

.registered {
  display: block;
  text-align: center;
  color: #555;
  font-size: 0.875rem; /* 14px in rem */
  margin-top: 0.625rem; /* 10px in rem */
}

.registered:hover {
  color: #333;
}

/* Media query for screens smaller than a certain width */
@media (max-width: 600px) {
  .regis-form {
    width: 90%; /* Adjust width for smaller screens */
  }
}

/*  update profile */
.mb-1 {
  margin-bottom: 0.625rem; /* 10px in rem */
}

.mt-1 {
  margin-top: 0.625rem; /* 10px in rem */
}

.form-control {
  width: 100%;
  margin-bottom: 0.625rem; /* 10px in rem */
  padding: 0.625rem; /* 10px in rem */
  font-size: 1rem; /* 16px in rem */
  border: none;
  background-color: #f5f5f5;
}

.regisbtn {
  width: 100%;
  margin-top: 0.625rem; /* 10px in rem */
  padding: 0.625rem; /* 10px in rem */
  font-size: 1rem; /* 16px in rem */
  border: none;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 0.0625rem solid #333333;
}

.regisbtn:hover {
  background-color: #333333;
  color: white;
}

@media (max-width: 600px) {
  .update-form {
    width: 90%; /* Adjust width for smaller screens */
  }
}

/* Login Page */

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem; /* 30rem in rem */
  margin: auto;
  height: 90vh;
}

.form-login h2 {
  letter-spacing: 1rem; /* 10px in rem */
  font-weight: 400;
}

.form-control {
  width: 100%;
  margin-bottom: 1.25rem; /* 20px in rem */
  padding: 0.625rem; /* 10px in rem */
  font-size: 1rem; /* 16px in rem */
  border: none;
  background-color: #f5f5f5;
}

.loginbtn {
  width: 100%;
  margin-top: 1.875rem; /* 30px in rem */
  padding: 0.625rem; /* 10px in rem */
  font-size: 1rem; /* 16px in rem */
  border: none;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 0.0625rem solid #333333;
}

.loginbtn:hover {
  background-color: #333333;
  color: white;
}

.unregister {
  display: block;
  text-align: center;
  color: #555;
  font-size: 0.875rem; /* 14px in rem */
  margin-top: 0.625rem; /* 10px in rem */
}

.unregister:hover {
  color: #333;
}

/* Media query for screens smaller than a certain width */
@media (max-width: 600px) {
  .form-login {
    width: 90%; /* Adjust width for smaller screens */
  }
}

/* Show Product of admins */
.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; /* 1rem in rem */
  border: 0.0625rem solid #ccc;
  padding: 1rem; /* 1rem in rem */
  width: 75%; /* 75% in rem */
}

.product-item:hover {
  border-color: #aaa;
}

.product-image {
  width: 5rem; /* 5rem in rem */
  height: 5rem; /* 5rem in rem */
  object-fit: cover;
  margin-right: 1rem; /* 1rem in rem */
}

.product-info {
  flex-grow: 1;
}

.product-title {
  margin: 0;
  margin-bottom: 0.5rem; /* 0.5rem in rem */
  color: black;
  text-decoration: none;
}

.product-description {
  margin: 0;
  color: black;
  text-decoration: none;
}


/* Search Box */
.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input-container > div {
  width: 95%; /* Adjust the width to your preference */
}


/* contact service social page */
.contactcontainer {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.contactcard {
  background-color: #ddd;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.left {
  width: 25vw;
  overflow: hidden;
  border-radius: 5px;
}

.left img {
  width: inherit;
  object-fit: contain;
}

.right .contact {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h4 {
  margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
  .card {
    flex-direction: column;
  }
  
  .left {
    width: 60vw;
    height: 40vh;
  }
}

@media screen and (max-width: 350px) {
  .container {
    overflow: hidden;
  }
  .left {
    height: 20vh;
  }
  .contact {
    flex-direction: column;
  }
}